body {
    font-family: Arial, sans-serif;
    background-image: url('./Images/Titel/TitelImage.webp');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.logo {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 100px;
    height: auto;
    cursor: pointer;
}

.container {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 300px;
}

h1 {
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin: 10px 0;
    width: 100%;
}
.result-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.result-icon img {
    width: 40px; 
    height: 40px;
}
.about-me {
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 100%;
    color: rgb(220, 144, 14);
}
#champion-image {
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-bottom: 20px;
}

#champion-input {
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 16px;
}

#result {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}
